@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --accent-cl: hsl(277, 64%, 61%);
  --main-bc: hsl(233, 47%, 7%);
  --card-bc: hsl(244, 38%, 16%);

  --heading-cl: hsl(0, 0%, 100%);
  --main-p: hsla(0, 0%, 100%, 0.75);
  --stat-itm-cl: hsla(0, 0%, 100%, 0.6);

  --ff-main: "Inter", sans-serif;
  --ff-accent: "Lexend Deca", sans-serif;
}
/* ************************** */
/* ***** GENERAL ****** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;

  font-size: 0.9375rem;
  font-family: var(--ff-main);
  font-weight: 400;
  line-height: 1.5625rem;

  background-color: var(--main-bc);
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
/* ************************** */
/* ***** CARD STYLE ****** */
.main {
  justify-self: center;
  align-self: center;
}

.card {
  max-width: 20.4375rem;
  background-color: var(--card-bc);
}

.card__content {
  padding: 2.5rem 1.96875rem 2rem;
  text-align: center;
}

.card__header {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2rem;

  color: var(--heading-cl);

  margin-bottom: 1rem;
}

.card__header span {
  color: var(--accent-cl);
}

.card__text {
  color: var(--main-p);
  margin-bottom: 2.5rem;
}

/*

.card__content {
  max-width: 35.625rem;
  padding: 4.4375rem 6.875rem 3.6875rem 4.5rem;
}

.card__header {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  color: var(--heading-cl);
  margin-bottom: 1.5625rem;
}

.card__header span {
  color: var(--accent-cl);
}

.card__text {
  color: var(--main-p);
  margin-bottom: 4.5rem;
}

.stat {
  max-width: 21.96875rem;
  display: flex;
  gap: 3.9375rem;
}

.stat__itm {
  flex-grow: 1;
}

.stat__itm p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8125rem;

  color: var(--heading-cl);
}

.stat__itm p:last-child {
  font-family: var(--ff-accent);
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.6;
  color: var(--main-p);
}

@media (max-width: 78em) {
  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media (max-width: 72em) {
  .card {
    flex-direction: column;
  }
}
*/

/* ************************** */
/* ***** FOOTER ****** */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: var(--main-p);

  align-self: end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
